.footerLayout {
    display: block;
    padding: 3rem 0;
    background: #f8f8f8;
    color: #000;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.socialNetworksContainer {
    width: 150px;
    padding-inline: 18px;
}