/* About image*/
.imageElement--about-image {
  margin-left: 35px;
}

.container .ph3 .ph5-m .ph2-xl .mw9 .center {
  width: 100%;
}

/* Trusted by image */
.imageElement--brand-icon-image {
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
  filter: grayscale(100%);

  height: 100px;
  width: 100px;
}

.imageElement--brand-icon-image:hover {
  -webkit-transform: scale(1);
  transform: scale(1);
  filter: grayscale(0%);
}
