/* -------------- HOME ----------------*/

.wrapper--home--shoptittle {
  background: linear-gradient(to right, #000000 41%, #fcc200 0);
  padding-top: 90px;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.wrapper--home-texttitle01 {
  background: linear-gradient(to right, #000000 57%, #fcc200 0);
  padding-top: 90px;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper--home-texttitle02 {
  background: linear-gradient(to right, #000000 43%, #fcc200 0);
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -70px;
}

.paragraph--home-text {
  font-size: 20px;
  line-height: 25px;
  color: #040404;
  font-weight: 700;
  font-family: 'Open Sans Condensed';
}

.paragraph--serviceshome {
  color: #ffffff;
}

.container--serviceshome {
  height: 400px;
}
/* -------------- ABOUT -------------- */
/*Banner About */
.paragraph--about-banner {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin-top: 25px;
}

.paragraph--about-dot {
  animation: blinkingText 1s step-start infinite;
}

@keyframes blinkingText {
  0% {
    color: #fcc200;
  }
  49% {
    color: #fcc200;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #fcc200;
  }
}

.container--about-banner {
  height: 230px;
  justify-content: left;
  flex-flow: row-reverse;
}

.container--about-dot {
  height: 210px;
  justify-content: left;
  position: relative;
}

/* About Description*/
.wrapper--about-descripttitle {
  background: linear-gradient(to right, #000000 39%, #fcc200 0);
  padding-top: 90px;
  padding-bottom: 10px;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper--about-descriptcontent {
  padding-right: 35px;
}
