/*Banner About */
.paragraph--about-banner {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 2.25rem;
  margin-top: 25px;
}

.paragraph--about-dot {
  animation: blinkingText 1s step-start infinite;
}

@keyframes blinkingText {
  0% {
    color: #fcc200;
  }
  49% {
    color: #fcc200;
  }
  60% {
    color: transparent;
  }
  99% {
    color: transparent;
  }
  100% {
    color: #fcc200;
  }
}

.container--about-banner {
  height: 230px;
  justify-content: left;
  flex-flow: row-reverse;
}

.container--about-dot {
  height: 210px;
  justify-content: left;
  position: relative;
}

/* About Description*/
.wrapper--about-descripttitle {
  background: linear-gradient(to right, #000000 39%, #fcc200 0);
  padding-top: 90px;
  padding-bottom: 10px;
  width: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.wrapper--about-descriptcontent {
  padding-right: 35px;
}

/*Link do E-mail - Footer */
.container--email {
  width: 150px;
}

.link {
  color: rgb(111, 109, 245);
  top: 0;
}

/*Endereços */
.container--country {
  font-size: 0.9em;
  font-weight: bold;
  letter-spacing: 1px;
  color: #333;
}

.wrapper--address {
  padding-block-start: 0px;
}

.paragraph--address {
  font-size: 0.9em;
}