.styledLinkIcon--main-menu {
  display: inline-block;
  opacity: 50%;
  cursor: pointer;
  width: 1.5rem;
  text-align: right;
  color: black;
}

.styledLinkIcon--main-menu:hover {
  opacity: 100%;
  color: #fcc200;
}

.styledLinkContent--languages:hover {
  color: #fcc200;
}

.styledLinkContent--main-menu {
  text-transform: uppercase;
  font-size: 14px;
}

.styledLinkContent--sub-menu {
  text-transform: uppercase;
  font-size: 12px;
  padding-top: 1.5rem;
}

.styledLinkContent--main-menu:hover,
.styledLinkContent--sub-menu:hover {
  color: #fcc200;
}

.submenuWrapper,
.submenu {
  width: 15rem;
  align-items: flex-start;
  text-align: left;
  justify-content: left;
}

.menuItem--languages {
  width: 1rem;
}

.menuItem--main-menu-isOpen {
  color: #fcc200;
}
