/* Header */
.flexColChild--logo-box {
  padding: 1.55rem 0rem 1.4rem 0.6rem;
}

.flexRowContent--header {
  align-items: center;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(0 0 0 / 10%) !important;
}

.flexRow--header {
  background-color: #ffffff;
}
/* Banner*/
.flexRow--about-banner {
  background-image: url('assets/img/cover-about-us.jpg');
  background-position: center center;
  background-size: cover;
  height: 232px;
  float: left;
  width: 100%;
}

.flexRowContent--about-banner {
  width: 38%;
}

/* About Description */
.flexRow--about-descript {
  width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 80px;
}
